* {
	font-family: Hind Siliguri, sans-serif;
}

*, :after, :before {
	box-sizing: border-box;
}

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 * {
	font-family: Poppins, sans-serif;
	margin-top: 0;
	margin-bottom: .5rem;
}

a {
	color: #007bff;
	background-color: transparent;
}

a:hover {
	color: #0056b3;
	text-decoration: underline;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

dl, ol, ul, p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0;
}
